html,
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif;
}

.w3-bar-block span {
    content: ' ';
    margin-left: 10px;
}

hr.menu {
    border-bottom: 1px solid rgb(158, 158, 158);
}

.crock a {
    text-decoration: none;
}

.container_click {
    cursor: pointer;
}
